---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rosylilly/power_assert.cr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1436475892'
      Last-Modified:
      - Thu, 09 Jul 2015 06:21:32 GMT
      Etag:
      - W/"ec53385f318eda066d7103d1177f1ac2"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":38023256,"name":"power_assert.cr","full_name":"rosylilly/power_assert.cr","owner":{"login":"rosylilly","id":29084,"avatar_url":"https://avatars.githubusercontent.com/u/29084?v=3","gravatar_id":"","url":"https://api.github.com/users/rosylilly","html_url":"https://github.com/rosylilly","followers_url":"https://api.github.com/users/rosylilly/followers","following_url":"https://api.github.com/users/rosylilly/following{/other_user}","gists_url":"https://api.github.com/users/rosylilly/gists{/gist_id}","starred_url":"https://api.github.com/users/rosylilly/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rosylilly/subscriptions","organizations_url":"https://api.github.com/users/rosylilly/orgs","repos_url":"https://api.github.com/users/rosylilly/repos","events_url":"https://api.github.com/users/rosylilly/events{/privacy}","received_events_url":"https://api.github.com/users/rosylilly/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/rosylilly/power_assert.cr","description":"PowerAssert
        provides the more powerful assertion to you.","fork":false,"url":"https://api.github.com/repos/rosylilly/power_assert.cr","forks_url":"https://api.github.com/repos/rosylilly/power_assert.cr/forks","keys_url":"https://api.github.com/repos/rosylilly/power_assert.cr/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rosylilly/power_assert.cr/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rosylilly/power_assert.cr/teams","hooks_url":"https://api.github.com/repos/rosylilly/power_assert.cr/hooks","issue_events_url":"https://api.github.com/repos/rosylilly/power_assert.cr/issues/events{/number}","events_url":"https://api.github.com/repos/rosylilly/power_assert.cr/events","assignees_url":"https://api.github.com/repos/rosylilly/power_assert.cr/assignees{/user}","branches_url":"https://api.github.com/repos/rosylilly/power_assert.cr/branches{/branch}","tags_url":"https://api.github.com/repos/rosylilly/power_assert.cr/tags","blobs_url":"https://api.github.com/repos/rosylilly/power_assert.cr/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rosylilly/power_assert.cr/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rosylilly/power_assert.cr/git/refs{/sha}","trees_url":"https://api.github.com/repos/rosylilly/power_assert.cr/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rosylilly/power_assert.cr/statuses/{sha}","languages_url":"https://api.github.com/repos/rosylilly/power_assert.cr/languages","stargazers_url":"https://api.github.com/repos/rosylilly/power_assert.cr/stargazers","contributors_url":"https://api.github.com/repos/rosylilly/power_assert.cr/contributors","subscribers_url":"https://api.github.com/repos/rosylilly/power_assert.cr/subscribers","subscription_url":"https://api.github.com/repos/rosylilly/power_assert.cr/subscription","commits_url":"https://api.github.com/repos/rosylilly/power_assert.cr/commits{/sha}","git_commits_url":"https://api.github.com/repos/rosylilly/power_assert.cr/git/commits{/sha}","comments_url":"https://api.github.com/repos/rosylilly/power_assert.cr/comments{/number}","issue_comment_url":"https://api.github.com/repos/rosylilly/power_assert.cr/issues/comments{/number}","contents_url":"https://api.github.com/repos/rosylilly/power_assert.cr/contents/{+path}","compare_url":"https://api.github.com/repos/rosylilly/power_assert.cr/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rosylilly/power_assert.cr/merges","archive_url":"https://api.github.com/repos/rosylilly/power_assert.cr/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rosylilly/power_assert.cr/downloads","issues_url":"https://api.github.com/repos/rosylilly/power_assert.cr/issues{/number}","pulls_url":"https://api.github.com/repos/rosylilly/power_assert.cr/pulls{/number}","milestones_url":"https://api.github.com/repos/rosylilly/power_assert.cr/milestones{/number}","notifications_url":"https://api.github.com/repos/rosylilly/power_assert.cr/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rosylilly/power_assert.cr/labels{/name}","releases_url":"https://api.github.com/repos/rosylilly/power_assert.cr/releases{/id}","created_at":"2015-06-25T02:29:12Z","updated_at":"2015-07-09T06:21:32Z","pushed_at":"2015-06-28T07:32:31Z","git_url":"git://github.com/rosylilly/power_assert.cr.git","ssh_url":"git@github.com:rosylilly/power_assert.cr.git","clone_url":"https://github.com/rosylilly/power_assert.cr.git","svn_url":"https://github.com/rosylilly/power_assert.cr","homepage":"https://github.com/rosylilly/power_assert.cr","size":120,"stargazers_count":22,"watchers_count":22,"language":"Crystal","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":22,"default_branch":"master","network_count":0,"subscribers_count":1}'
  recorded_at: Thu, 09 Jul 2015 20:11:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/example/not_found
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1436475892'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 09 Jul 2015 20:14:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/example/not_found
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1436475892'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 09 Jul 2015 20:14:15 GMT
recorded_with: VCR 2.9.3
