.generating
  .loading.animated.infinite.pulse
  p now generating docs of <b>#{@package.path}</b>...

javascript:
  jQuery(function($) {
    var pusher = new Pusher(pusherKey);
    var channel = pusher.subscribe("doc-#{@doc.sha}");

    channel.bind('generated', function() {
      location.reload();
    });
  });
