h2 Badge ready!

= image_tag badge_path(format: 'svg')

textarea.badge-code(onclick="this.focus();this.select()")
  | [![docrystal.org](http://www.docrystal.org/badge.svg)](http://www.docrystal.org/github.com/<your-github-login>/<github-repository-name>)

= image_tag badge_path(format: 'svg', style: 'round')

textarea.badge-code(onclick="this.focus();this.select()")
  | [![docrystal.org](http://www.docrystal.org/badge.svg?style=round)](http://www.docrystal.org/github.com/<your-github-login>/<github-repository-name>)

= image_tag badge_path(format: 'svg', style: 'plastic')

textarea.badge-code(onclick="this.focus();this.select()")
  | [![docrystal.org](http://www.docrystal.org/badge.svg?style=plastic)](http://www.docrystal.org/github.com/<your-github-login>/<github-repository-name>)

p Another badge? You can make your original badges on <a href="http://shields.io/">shields.io</a>
