h2 Badge ready!

= image_tag badge_path(format: 'svg')

textarea.badge-code(onclick="this.focus();this.select()")
  | [![docrystal.org](http://www.docrystal.org/badge.svg)](http://www.docrystal.org/github.com/<your-github-login>/<github-repository-name>)
